/* Global Styles */

body {
	font-family: Arial, sans-serif;
	margin: 10px;
	padding: 0;

	background-color: black;
	background-image: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.801)),
		url("../Images/vkg\ logo5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
	display: flex;

	background-position-y: -5px;
}

p {
	text-shadow: 1px 1px 1px black;
	color: yellow;
}

h1,
h2 {
	font-weight: normal;
	text-shadow: 1px 1px 1px black;
	color: yellow;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-shadow: 1px 1px 1px black;
	color: yellow;
}

a {
	text-decoration: none;
	text-shadow: 1px 1px 1px black;
	color: yellow;
}

a:hover {
	text-decoration: underline;
}

/* Header Styles */
header {
	background-color: #0d0c0c;
	padding: 10px;
}

nav ul {
	margin: 0;
	padding: 0;
}

li {
	text-shadow: 1px 1px 1px rgb(210, 210, 6);
}
nav li {
	display: inline-block;
	margin-right: 20px;
}

header {
	margin: -10px;
}

@media screen and (max-width: 600px) {
	body {
		background-image: none;
		background-size: 700px;
		background-position: center center;
	}
}
